/**
 * Default palette here.
 *
 * ref：https://vuepress.vuejs.org/config/#palette-styl
 */

$codeBgLightColor = $codeBgColor
$preTextLightColor = $preTextColor
$languageTextLightColor = $languageTextColor
$lineNumbersLightColor = $lineNumbersColor